---
title: Hello, World.
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "middleman-logo.svg" %>
  </div>

  <h1>Hello, World.</h1>

  <p class="doc">
     --bentlema 
  </p><!-- .doc -->

</div><!-- .welcome -->
